<div class="" id="section_features_5_dark">
  <div class="dark big_padding pix_builder_bg">
    <div class="container">
      <div class="sixteen columns">
          <div class="four columns onethird_style alpha">
              <div class="f1_box">
                  <div class="big_icon light_blue">
                      <span class="pi pixicon-content-right" style="color: rgb(45, 192, 232); background-color: rgba(0, 0, 0, 0);" src="images/main/logos/squarespace.png"></span>
                  </div>
                  <div class="center_text">
                      <span class="normal_title bold_text"><span class="editContent" style="">AWS</span></span><br>
                      <span class="editContent normal_text light_gray" style=""><span class="pix_text">Architect redundant, resilient, scalable, self-sustaining, and self-healing infrastructures on AWS.</span></span>
                  </div>
              </div>
          </div>
          <div class="four columns onethird_style alpha">
              <div class="f1_box">
                  <div class="big_icon orange">
                      <span class="pi pixicon-microphone"></span>
                  </div>
                  <div class="center_text">
                      <span class="normal_title bold_text"><span class="editContent" style=""><span class="pix_text">Continuous Delivery</span></span></span><br>
                      <span class="editContent normal_text light_gray" style=""><span class="pix_text">Streamline your build, test and release process using cloud-native applications optimized to run at any scale.</span></span>
                  </div>
              </div>
          </div>
          <div class="four columns onethird_style alpha">
              <div class="f1_box">
                  <div class="big_icon green_1">
                      <span class="pi pixicon-share"></span>
                  </div>
                  <div class="center_text">
                      <span class="normal_title bold_text"><span class="editContent" style=""><span class="pix_text">Configuration Management</span></span></span><br>
                      <span class="editContent normal_text light_gray" style=""><span class="pix_text">Automate your entire cloud infrastructure using the latest tools such as Chef, Ansible, Jenkins, AWS CloudFormation, Docker & Vagrant.</span></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="sixteen columns">
        <div class="four columns onethird_style alpha">
            <div class="f1_box">
                <div class="big_icon orange">
                    <span class="pi pixicon-microphone"></span>
                </div>
                <div class="center_text">
                    <span class="normal_title bold_text"><span class="editContent" style=""><span class="pix_text">Infraestructure as a Code</span></span></span><br>
                    <span class="editContent normal_text light_gray" style=""><span class="pix_text">Terraform and AWS CloudFormation</span></span>
                </div>
            </div>
        </div>
        <div class="four columns onethird_style alpha">
            <div class="f1_box">
                <div class="big_icon green_1">
                    <span class="pi pixicon-share"></span>
                </div>
                <div class="center_text">
                    <span class="normal_title bold_text"><span class="editContent" style=""><span class="pix_text">Cloud Migration</span></span></span><br>
                    <span class="editContent normal_text light_gray" style=""><span class="pix_text">Migrating your existing applications to the AWS Cloud is a time-consuming and complex task if you don’t have the right tools at your disposal.</span></span>
                </div>
            </div>
        </div>
        <div class="four columns onethird_style alpha">
            <div class="f1_box">
                <div class="big_icon dark_yellow">
                    <span class="pi pixicon-umbrella"></span>
                </div>
                <div class="center_text">
                    <span class="normal_title bold_text"><span class="editContent" style=""><span class="pix_text">Infraestructure Automation</span></span></span><br>
                    <span class="editContent normal_text light_gray" style=""><span class="pix_text">Deploy new applications and infraestructure in the cloud</span></span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
