<header class="site-header" role="banner">

  <!-- Newsletter Popup -->
  <div id="popup_6" class="well pix_popup pop_hidden blue_bg dark pix_builder_bg">
      <div class="center_text">
          <span class="editContent"><span class="margin_bottom normal_title pix_text"><strong>Subscription Form</strong></span></span>
          <p class="editContent">You can add unlimited fields directly from HTML Builder</p>
          <form id="contact_form" class="pix_form">
              <div id="result"></div>
              <input name="name" id="name" placeholder="Your Full Name" class="pix_text" type="text">
              <input name="email" id="email" placeholder="Enter Your Email" class="pix_text" type="email">
              <span class="send_btn">
                  <button type="submit" class="submit_btn pix_text orange_bg" id="submit_btn_6">
                      <span class="editContent">Subscibe To Newsletter</span>
                  </button>
              </span>
          </form>
      </div>
  </div>
  <div class="pixfort_corporate_2" id="section_corporate_1">
    <div class="header_style">
      <div class="container">
        <div class="sixteen columns header_area">
          <img src="assets/images/Title.png" alt="">
          <div class="htext_style editContent" style="">
              <a href="#popup_6" class="pix_button_flat white bold_text">
                <span class="pix_text">Stay connected</span>
              </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Newsletter Popup -->

    <div class="page_style pix_builder_bg" style="outline-offset: -3px;">
      <div class="container">
        <div class="sixteen columns context_style">
          <div class="title_style">
            <span class="editContent" style="">
              <span class="pix_text">{{ page.header_title }}</span>
            </span>
          </div>
          <div class="subtitle_style">
            <span class="editContent" style="">
              <span class="pix_text">
                  {{ page.header_description }}
              </span>
            </span>
          </div>
          <div class="contact_style">
              <div class="contact_btn">
                <a href="#section_party_4" class="pix_button" style="color: rgb(255, 255, 255); font-size: 18px; background-color: rgb(70, 140, 240); font-family: &quot;Open Sans&quot;,sans-serif;" src="images/main/logos/squarespace.png">
                  <span class="editContent" style="">{{ page.header_buttom }}</span>
                </a>
              </div>
          </div>
          <div class="note_st">
            <span class="editContent">
              <span class="pix_text">{{ page.header_note }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
