<div class="pixfort_normal_1 prueba" id="section_normal_4_1">
        <div class="m6_style pix_builder_bg">
            <div class="container">
                <div class="sixteen columns">
                    <div class="eight columns  alpha">
                        <div class="gtext_style">
                            <p class="t1_style1 editContent">
                                {{ page.intro_first_title }}
                            </p>
                            <p class="t2_style editContent">
                                {{ page.intro_first_subtitle }}
                            </p>
                            <p class="t3_style editContent">
                                {{ page.intro_first_content }}
                            </p>
                        </div>
                    </div>
                    <div class="eight columns  omega">
                        <img src="assets/images/machine.png" class="img_style" alt="">
                    </div>
                </div>
	       </div>
        </div>
    </div>
    <div class="pixfort_normal_1 title_background" id="section_normal_4_2">
        <div class="m6_style pix_builder_bg">
            <div class="container">
                <div class="sixteen columns">
                    <div class="eight columns  alpha">
                        <img src="assets/images/domains-that-never-sleep.png" class="img_style" alt="">
                    </div>
                    <div class="eight columns  omega">
                        <div class="gtext_style">
                            <p class="t1_style1  editContent">
                                {{ page.intro_second_title }}
                            </p>
                            <p class="t2_style editContent">
                                {{ page.intro_second_subtitle }}
                            </p>
                            <p class="t3_style editContent">
                                {{ page.intro_second_content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pixfort_normal_1" id="section_normal_4_3">
        <div class="m6_style pix_builder_bg">
            <div class="container">
                <div class="sixteen columns">
                    <div class="eight columns  alpha">
                        <div class="gtext_style">
                            <p class="t1_style editContent">
                                {{ page.intro_third_title }}
                            </p>
                            <p class="t2_style editContent">
                                {{ page.intro_third_subtitle }}
                            </p>
                            <p class="t3_style editContent">
                                {{ page.intro_third_content }}
                            </p>
                        </div>
                    </div>
                    <div class="eight columns  omega">
                        <img src="assets/images/website-builder.png" class="img_style" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
