<div class="" id="section_clients_1">  
  <div class="big_padding pix_builder_bg" 
      style="background-image: none; background-color: rgb(29, 28, 28); padding-top: 60px;padding-bottom: 60px; box-shadow: none; background-size: auto auto; background-attachment: scroll; background-repeat: repeat;" 
      src="assets/images/uploads/aws1.png">
    <div class="container">
      <div class="sixteen columns center_text">
        <p class="normal_title editContent" style="color: rgb(255, 255, 255); font-size: 30px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/uploads/aws1.png"><strong>Technologies we use</strong></p>
        <span class="pix_text normal_gray">
          <span class="normal_text editContent" style=""></span>
        </span>
      </div>
      <div class="pix_inline_block center_text">
        <div class="sixteen columns center_text">
            <span class="pix_text normal_gray">
                <span class="normal_text editContent" style="">
                  <br>Cloud Providers<br><br>
                  <hr>
                </span>
            </span>
        </div>
        <div class="sixteen columns ">
          <div class="one-third column alpha">
              <img src="assets/images/uploads/aws1.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 73px; height: 54px;">
              <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Amazon AWS</p>
          </div>
          <div class="one-third column">
              <img src="assets/images/uploads/digitalocean.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 54px; height: 54px;">
              <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">DigitalOcean</p>
          </div>
        </div>
        <div class="sixteen columns center_text">
          <span class="pix_text normal_gray">
            <span class="normal_text editContent" style=""><br>
              DevOps<br><br>
              <hr>
            </span>
          </span>
        </div>                    
        <div class="sixteen columns ">
          <div class="three columns">
            <img src="assets/images/uploads/terraform.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 63px; height: 71px;">
            <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Terraform</p>
          </div>                        
          <div class="three columns">
            <img src="assets/images/uploads/packer.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 39px; height: 58px;">
            <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Packer</p>
          </div>
          <div class="three columns">
            <img src="assets/images/uploads/go.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 42px; height: 57px;">
            <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Go</p>
          </div>
          <div class="three columns">
            <img src="assets/images/uploads/docker1.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 62px; height: 44px;">
            <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Docker</p>
          </div>
        </div>
        <div class="sixteen columns center_text">
          <span class="pix_text normal_gray">
            <span class="normal_text editContent" style=""><br>
              Continuous Delivery<br><br>
              <hr>
            </span>
          </span>
        </div>
        <div class="sixteen columns">
          <div class="one-third column alpha">
            <img src="assets/images/uploads/jenkins.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 106px; height: 79px;">
            <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Jenkins</p>
          </div>
          <div class="one-third column">
            <img src="assets/images/uploads/travisci.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 55px; height: 55px;">
            <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Travis CI</p>
          </div>
          <div class="one-third column omega">
              
          </div>
          <div class="sixteen columns center_text">
            <span class="pix_text normal_gray">
              <span class="normal_text editContent" style=""><br>
                Programming Languages
                <br>
                <br>
                <hr>
              </span>
            </span>
          </div>                          
          <div class="sixteen columns">
            <div class="three columns">
              <img src="assets/images/uploads/python.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 48px; height: 49px;">
              <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Python</p>
            </div>
            <div class="three columns">
              <img src="assets/images/uploads/java.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 39px; height: 54px;">
              <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Java</p>
            </div>
            <div class="three columns">
              <img src="assets/images/uploads/nodejs.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 118px; height: 32px;">
              <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">NodeJS</p>
            </div>
            <div class="three columns">
              <img src="assets/images/uploads/php.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 87px; height: 45px;">
              <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">PHP</p>
            </div>                            
            <div class="three columns">
              <img src="assets/images/uploads/ruby.png" class="margin_vertical" alt="" style="border-radius: 0px; border-style: none; border-width: 1px; width: 43px; height: 44px;">
              <p style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;,sans-serif;" src="assets/images/main/logos/squarespace.png">Ruby</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>