<div class="light_gray_bg big_padding pix_builder_bg" id="section_title_1">
    <div class="container ">
        <div class="twelve columns">
            <div class="">
                <div class="title_56 margin_bottom_10 orange">
                    <span class="pi pixicon-map2"></span>
                </div>
                <h2 class="big_title dark_gray editContent">
                    {{ page.content_title }}
                </h2>
                <p class="normal_text light_gray editContent">
                    {{ page.content_text }}
                </p>
            </div>
        </div>
    </div>
</div>
