<div class="pixfort_pix_1" id="section_pix_1">
	<div class="tesi_style pix_builder_bg" style="outline-offset: -3px;">
        <div class="container">
            <div class="sixteen columns">
                <img src="assets/images/light-normal.png" alt="" class="q-icon">
                <ul class="testimonials ticker_fade" style="height: 173px;">
                    <!-- First Testimonial -->
                    <li style="">
                        <p class="quote-text editContent">
                            <!-- Change to your text here -->
                            {{ page.first_use_case }}
                        </p>
                        <div class="quote-dots">. . .</div>
                        <div class="quote-title editContent pix_text">
                            <!-- Change title Here -->
                            {{ page.first_use_case_name }}
                        </div>
                        <div class="quote-link editContent pix_text">
                            <!-- Change Link Here -->
                            {{ page.first_use_case_url }}
                        </div>
                    </li>
                    <!-- End of First Testimonial -->

                    <!-- Second Testimonial -->
                    <li style="display: none;">
                        <p class="quote-text editContent">
                            <!-- Change to your text here -->
                            {{ page.second_use_case }}
                        </p>
                        <div class="quote-dots">. . .</div>
                        <div class="quote-title editContent pix_text">
                            <!-- Change title Here -->
                            {{ page.first_use_case_name }}
                        </div>
                        <div class="quote-link editContent pix_text">
                            <!-- Change Link Here -->
                            {{ page.first_use_case_url }}
                        </div>
                    </li>
                    <!-- End of Second Testimonial -->

                    <!-- Third Testimonial -->
                    <li style="display: none;">
                        <p class="quote-text editContent">
                            <!-- Change to your text here -->
                            {{ page.third_use_case }}
						            </p>
						            <div class="quote-dots">. . .</div>
						            <div class="quote-title editContent pix_text">
							              <!-- Change title Here -->
                            {{ page.first_use_case_name }}
						            </div>
						            <div class="quote-link editContent pix_text">
							              <!-- Change Link Here -->
                            {{ page.first_use_case_url }}
						            </div>
					          </li>
					          <!-- End of Third Testimonial -->
                </ul>
			      </div>
		    </div><!-- container -->
	  </div>
</div>